extends pagetopper.pug

block pageContent
	.fluid-container
		.row
			.col-md-3
			.col-md-6
				ul.data
					- for (var i = data.length - 1; i >= 0; i--)
						.datacontainer.row
							li.datafiles.kvka-logo
								span.main-headers#media-title= data[i].title
								br
								span.media-dateTime= data[i].dateTime
								br
								.inner-content-container
									iframe(width="560", height="315", frameborder='0', src= data[i].video)
									p.media-paragraph-block 
										- var trimmedDesc = data[i].vidDesc.substr(0, 80);
										- var endIndex = Math.min(trimmedDesc.length, trimmedDesc.lastIndexOf(" "));
										- var moreOrLess = "More";
										- window.onload = function pp() {
											-var x = document.getElementByClassName(collapse);

										-}
										span= data[i].vidDesc.substr(0, endIndex)
										span.collapse(id="long-vid-desc"+i)= data[i].vidDesc.substr(endIndex)
										br
										a(data-toggle="collapse", data-target="#long-vid-desc" + i) ... Read #{moreOrLess}
			.col-md-3
			//- var ele1 = document.getElementById("long-vid-desc2");